---
layout: default
title: "Research"
description: "Research projects in the lab"
group: navigation
navorder: 1
---
{% include JB/setup %}
<div class="bigspacer"></div>
<div class = 'row'>
  <div class='col-md-12'>
    <h1> Research Focus </h1>
    <div class="smallhead">
      <p>Research in the Cognitive Medical Technology and Robotics Lab focuses on the
        application of robotics and machine intelligence to create new lifesaving
        technologies. Specific focus areas include <b>continuum surgical robots</b>
        and <b>energy-based surgical instruments</b>.
        Our overarching goal is to develop solutions to
        improve existing medical procedures and enable new ones that are not possible
        with available instrumentation. Close interaction with medical doctors is a
        fundamental component of our research.</p>

        <p>Do you want to work with us? We are always looking for new ideas and
          clinical areas to work on. Please, contact us or have a look at the
          Contact page.</p>
        </div>
      </div>
    </div>

    <!-- <div class="text-center">
    <img class="img-fluid" src="../assets/images/research-word-cloud.png">
  </div> -->
  <!-- <div class="construction">
  <hr/>
  We are working on this page. Check back soon for more updates.
  <hr/>
</div> -->
<h1> Current Projects </h1>
{% assign projectrindex = 0 %}
{% for project in site.categories.projects %}
{% assign projectindex = projectindex | plus: 1 %}
{% assign colindex = projectindex | modulo: 3 %}

{% if colindex == 1 %} <!-- open a new row -->
<div class="row">
  {% endif %}

  <div class="col-md-4">
    <div class="thumbnail">
      <a href="{{ project.url }}">
        <img src="{{ project.image }}" alt="" style="width:100%">
        <div class="caption">
          <div class="text-center">
            <h2>{{ project.title }}</h2>
          </div>
        </div>
      </a>
    </div>
  </div>

{% if colindex == 0 %} <!-- closing a row -->
</div><div class="bigspacer"></div>
{% endif %}

{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

  <!-- <div class='row'> -->
    <!-- <div class='col-md-4'>
      <div class="media">
        <a class="project-image" href="{{ project.url }}">
          <img class="media-object" src="{{ project.image }}">
          <h2>
          {{ project.title }}
          </h2>
        </a>
      </div>
    </div> -->
  <!-- </div> -->

  <!-- <div class='row'>
    <div class="col-md-4 paperbox">
      <div class="smallhead media-heading"><a href="{{ project.url }}" class="off">{{ project.title }}</a>
      </div>
    </div>
    <div class='col-md-8'>
      {{ project.content }}
    </div>
  </div> -->
<!-- </div> -->
